
.campo{
    border-radius: 4px;
    text-align: center;
  }

.box{

	background: white;
    width:300px;
    border-radius:6px;
    margin: 3% auto 0 auto;
    padding: 20px;
    border: #9de2d4 1px solid; 

}

.titular{
	text-align: center; 
	border: #9de2d4 1px solid; 
	margin: 20px auto 20px auto; 
	width: 25%;
	padding: 10px;
	background: #ebf9f6;
}
.subtitular{
	text-align: center; 
	border: #9de2d4 1px solid; 
	margin: 10px auto 10px auto; 
	width: 50%;
	padding: 5px;
	background: #ebf9f6;
}

.CerrarSesion{
	background-color: #48C9B0;
}
